.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image {
    /* max-width: 100%; */
    /* height: auto; */
  }
  
  .text-animation {
    position: absolute;
    bottom: 0;
    left: 50%;color: rgb(250, 250, 250);
    transform: translate(-50%, 100%);
    /* background-color: rgba(244, 232, 232, 0.5); */
    /* color: white; */
    font-weight: bolder;
    padding: 10px 20px;
    transition: transform 0.5ss ease;
  }
  
  .image-container:hover .text-animation {
    transform: translate(-50%, -50%);
  }
  
  