/* #app {
	height: 100%;
}
html, */
/* body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
} */

.mySwiper {
	/* width: 25%; */      
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	width: 100px;
}
@media (max-width: 800px) {
	.swiper-slide {
		background-position: center;
		background-size: cover;
	}
}
/* @media (max-width: 560px) {
.mySwiper{
	width:20%;
}
.mySwiper2{
	width:50%;
}
} */

.swiper-slide img {
	display: block;
	/* width: 100%; */
}
/* .swiper-slide  {
	
	width: 30%;
} */

.fade-in {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.fade-in.show {
	opacity: 1;
}